.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.form-item {
    display: inline-block;
    width: 90vw;
    margin: 20px 0px;
}

.form-item-label {
    color: rgb(83, 83, 83);
    margin-right: 10px;
}

label {
    display: inline-block;
    width: 30vw;
    text-align: right;
}

.input-box {
    height: 30px;
    width: 200px;
    border: rgb(83, 83, 83) solid 2px;
    border-radius: 8px;
    outline: none;
    font-size: large;
    padding: 0px 5px;
}

.input-box:focus {
    border: 2px solid greenyellow;
    box-shadow: 0 0 10px greenyellow;

}

.login-button {
    margin-top: 30px;
    min-width: auto;
    background-color: rgb(44, 225, 44);
    border: black solid 2px;
}

.login-button:hover {
    background-color: white;
    border-color: rgb(44, 225, 44);
    color: rgb(44, 225, 44);
}

.forgot-password {
    font-size: large;
    text-decoration: underline;
}


/* Tablet */
@media only screen and (min-width: 600px) {
    .login-form {
        font-size: 2.5em;
    }

    .form-item {
        margin: 35px 0px;
    }

    .input-box {
        height: 50px;
        width: 400px;
        font-size: 1.1em;
    }


    .login-button {
        margin-top: 50px;
        width: 400px;
    }

    .forgot-password {
        font-size: 27px;
    }
}


/* Desktop */
@media only screen and (min-width: 1280px) {
    .login-form {
        font-size: 1.5em;
    }

    .form-item {
        margin: 20px auto;
        width: 80vw;


    }

    .input-box {
        height: 30px;
        width: 300px;
        font-size: 0.9em;
    }

    .login-button {
        display: flex;
        align-items: center;
        max-width: max-content;
        height: 40px;
    }

    .forgot-password {
        font-size: large;
    }
}