/* Mobile first design */
.match-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    background-color: rgb(183, 230, 246, 0.5);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    border-radius: 12px;
    margin: 1.5rem 0;
    padding: 20px;
    min-width: 38vw;
    max-width: 80vw;
    height: calc(100% + 50%);
    /* height: auto; */
    text-align: center;

}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 1;
}

.predictions-text {
    font-size: normal;
}


.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.grid-item1 {
    grid-column: 1;
    grid-row: 1 / span 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: grid;
    justify-items: center;
    margin-right: 5px;
}

.grid-item2, .grid-item3, .grid-item4, .grid-item5 {
    grid-column: 2 ;
    justify-items: center;


}

.grid-item1, .grid-item2, .grid-item4, .grid-item6 {
    font-size: large;
}

.grid-item1:hover {
    overflow: visible;
}

.grid-item6 {
    grid-column: 3;
    grid-row: 1 / span 4;


    display: grid;
    justify-items: center;
    margin-right: 5px;
}


.team-name {
    display: flex;
    text-align: right;
}

.dash {
    font-weight: normal;
}


.score-input {
    height: 20px;
    border: 2.5px black solid;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}

.score-display {
    font-weight: bolder;
}

.live-tag {
    display: inline-block;
    font-weight: 650;
    color: white;
    background-color: green ;
    border: 1px solid black;
    padding: 5px 25px;
    margin: 10px 0;
    transform: rotate(-5deg);
}


.ft-tag {
    display: inline-block;
    font-weight: 650;
    color: white;
    background-color: red;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px 0;
    transform: rotate(-5deg);
}

.default-tag {
    display: inline-block;
    font-weight: 650;
    color: white;
    background-color:navy;
    border: 1px solid black;
    padding: 5px 20px 5px 10px;
    margin: 10px 0;
    transform: rotate(-5deg);
}

.time-tag {
    display: inline-block;
    font-weight: 650;
    color: navy;
    background-color:white;
    border: 1px solid black;
    min-width: 70px;
    padding: 5px 10px;
    margin: 10px 0;
    transform: rotate(-5deg);
    position: relative;
    right: 5px;
    top: 5px;
}


.prediction-value, .result-value, .numeric-value {
    display: inline-block;
    font-size: x-large;
    color: white;
    /* opacity: 90%; */
}

.prediction-disc, .result-disc {
    display: inline-block;
    height: calc(1em + 20px);
    width: calc(1em + 20px);
    border-radius: 100%;

}

.prediction-disc {
    background-color:rgb(71, 75, 79);

}


.result-disc {
    background-color:rgb(0, 176, 0);
}

.outcome-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 75px;
}






/* Tablet */
@media only screen and (min-width: 600px) {

}


/* Desktop */
@media only screen and (min-width: 1280px) {

}