

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw ;
    height: 6rem;
    background-color:teal ;
}



a {
    font-size: small;
    color: white;
}


/* Desktop */
@media only screen and (min-width: 1280px) {

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw ;
        height: 6rem;
    }

    a {
        font-size: xx-large;
    }
}


/* Tablet */
@media only screen and (min-width: 600px) {

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw ;
        height: 6rem;
    }

    a {
        font-size: xx-large;
    }
}
