/* Mobile first design */
.bottom-icons {
    display: flex;
    justify-content:space-between;
}

.points-div {
    display: flex;
    font-size: large;
    font-weight: 500;
    border: 1px solid black;
    background-color: navy;
    color: white;
    padding: 10px;
    align-self: center;

}

.outcome-icon {

    float: inline-end;

}



/* Tablet */
@media only screen and (min-width: 600px) {

}


/* Desktop */
@media only screen and (min-width: 1280px) {

}