/* Mobile first design */

.points-div {
    align-self: center;
    font-size: large;
    font-weight: 500;
    border: 1px solid black;
    background-color: navy;
    color: white;
    padding: 10px;


}



/* Tablet */
@media only screen and (min-width: 600px) {

}


/* Desktop */
@media only screen and (min-width: 1280px) {

}