.title-div {
    display: flex;
    margin: 2vw 5vw 0 2vw;
    justify-content: space-between;

}

.edit-button-div {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.edit-mode-btn {
    margin: 3px 0;
    height: min-content ;
    background-color:cornflowerblue;
    border: solid black;
    border-radius: 5px;
}

.save-back-button-div {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}

.save-back-button {
    margin: 3px 0;
    padding: 5px 10px;
    min-height: min-content;
    height: 5vh;
    font-size: larger;
    background-color:cornflowerblue;
    border: solid black;
    border-radius: 5px;
}



.match-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-header {
    margin-bottom: 0px;
}

.date-text, .total-score-text {
    font-size: 1.8em;
    font-weight: bold;
}



/* Tablet */
/*
@media only screen and (min-width: 600px) {
    .match-card {
        margin: 1rem 10rem;
        width: 500px;
        }

    .predictions-text {
        font-size: 1.5em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 170px auto 170px;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

    .grid-item1 {
        overflow: hidden;
    }

    .score-input {
        height: 30px;
        width: 27px;
        border: 2.5px black solid;
    }
}
*/

/* Desktop */
@media only screen and (min-width: 1280px) {

}